h2.color{
    color: black;
    font-size: 2.6rem;
    text-align: center;
    margin-top: 50px;
  }
  
  
  p.black{
    margin-top: 20px;
    color: black;
    font-size: 1.3rem;
    text-align: justify;
  }
  img.patada{
    top: 0px;
    width: 400px;
    height: auto;
    padding: 10px;
  }
  @media only screen and (max-width: 768px){
    /* For mobile phones: */
    [class*="col-"]{
        width: 100%;
    }
}
  