.equipo{
  margin: 50px auto;
  width: 100%;
  height: 100%;
  padding: 30px;
  width: 100%;
  

}
.equi1{
  margin-top: 30px;
}
.fotos{
  margin-top: 15px;
  width: 240px;
  text-align: center;
}
 h2{
  font-size: 3em;
  font-family: "roboto";
  color: black;
  text-align: center;
}
h4{
 color: black;
 text-align: justify;
 font-family:"roboto";
}

.nombres{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  font-size: 1.5em;
  font-family: "roboto";
  margin: 0 30px;
}

body{
  overflow-x: hidden;
}
@media screen and (max-width: 500px){
  .fotos{
    text-align: center;
    transform: translateX(30%);
  }
  .nombres{
    transform: translateX(30%);
  }
}
@media screen and (max-width: 363px){
  .fotos{
    text-align: center;
    transform: translateX(30%);
  }
  .nombres{
    transform: translateX(40%);
  }
}

  @media only screen and (max-width: 768px){
    /* For mobile phones: */
    [class*="col-"]{
        width: 100%;
    }
}
  