section.home{
    padding: 10px;
    background-color: black;
    background-image: url(../img/IMG.png)  ;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 600px;
    background-position: right 46%;
    padding: 30px;
  }