section.home{
    padding: 10px;
    background-color: black;
    background-image: url("../../Recursos/img/imghome.png");
    background-repeat: no-repeat;
    background-size: contain ;
    height: 600px;
    background-position: right 46%;
    padding: 30px;
  }
  .navbar-brand img{
    width: 200px;
    height: auto;
  }
  .icon-menu{
    color: white;
    font-size: 1.6em;
  }
  a.nav-link{
    color: white;
    font-family:"roboto";
    font-size: 1.2rem;
    margin-left: 100px; 
  }