footer{
    font-family: "roboto";
    
  }
  
  .container1{
    background: black;
    color: #ffffff;
    padding: 20px;
  }
  
  .footer-main .footer-columna{
    text-align: right;
    
  }
  
  .footer-main .footer-columna input[type="email"]{
    width: 400px;
    font-size: 26px;
    padding: 8px;
  }
  .Nm{
    width: 130px;
    height: 45px;
    background-color: #850f1a;
    color: white;
    border-radius: 6%;
  }
  .footer-main .footer-columna input[type="submit"]{
  
    padding: 14px ;
    font-size:1rem;
    margin-top: 5px;
    
  }
  .siguenos{
   text-align: center;
   font-size: 1.8rem;
  }
  .text{
    font-size: 1.4rem;
  }
  body{
    overflow-x: hidden;
  }